<div class="col-md-5 col-sm-10 col-md-offset-1 col-sm-offset-1 resume__home-image">
	<img class="img-circle" src="ziyin.jpeg">
</div>
<div class="col-md-5 col-sm-10 col-sm-offset-1 col-md-offset-0 resume__home-content" >
	<p>Hi everyone, I'm <strong>Ziyin Feng</strong>. Welcome to my page.</p>
	<p>I was born in Huainan, Anhui, China, a small city located at middle of China. I spent nice  childhood there! </p>
	<p>When I was 14, my family move to Hefei, the city full of my high school memory. </p>
	<p>Ater 18, I moved along to Dalian, a beautiful coastal city in northeastern China to take my undergraduate education major in software engineering at Dalian University of Technology. I graduated from DUT at Jul 2014</p>
	<p>After that I decided to go borad to gain my master degree in Stevens Institute of Technology. I graduated from SIT with my master degree major in computer science at May 2016.<img src="applause.resize.png"><img src="applause.resize.png"><img src="applause.resize.png"></p>

	<p>I love reading book(not include ebook which makes my tired) about anything and learning new tech sooooo much!!! Reading and learning make me feel fulfill and peace. I love cooking as well!! If one of the very nicest things about life is the way we must regularly stop whatever it is we are doing and devote our attention to eating. Why not cook by myself!</p>

	<p>My life is full of passion and I'm super optimitic! Always smell~ Life is something you should enjoy rather than suffer. Hope everybody being happy everyday!</p>

</div>