<ul>
    <li>
        <strong>Enterprise Software Architecture and Design</strong>
    </li>
    <ul>
        <li>
            Designed XML schemas for entity Patient, Provider and Treatment, create instances for schemas and use XQuery to access to instances;
        </li>
        <li>
            Created SOAP and REST web services for clinical information system and deploy them to Amazon AWS platform. Database: PostgreSQL, Web Server: glassfish 4.1.
        </li>
    </ul>
    <li>
        <strong>MF-Structure query processing engine</strong>
    </li>
    <ul>
        <li>
            MF(multi-feature)-structure is java based structure which can increase efficiency for handling aggregation queries;
        </li>
        <li>
            Taken 6 operant and then generate a specific java file for aggregation and group queries based on JAVA, PostgreSQL;
        </li>
    </ul>
    <li>
        <strong>Food recipes hunter</strong>
        <ul>
            <li>
                Recipes Hunter application is ruby on rails based application which can pass the query, retrieve json data through API, search by keywords and display the result;
            </li>
            <li>
                Application is MVC framework and basic HTML, CSS and javascript are implemented and deployed on Heroku.
            </li>
        </ul>
    </li>
</ul>
