<ul>
    <li>
        <Strong>Volunteer Teacher</Strong> (Sep. 2014 – Jan. 2015) Jubilee Center, Hoboken
        <ul>
            <li>Organized activities and outings for children;</li>
            <li>Helped with homework.</li>
        </ul>
    </li>
    <li>
        <Strong>Orientation Leader </Strong> Stevens Institute of Technology, Hoboken
        <ul>
            <li>Provide support and information for new first-year and transfer graduate and PhD students </li>
            <li>Organized activities for new students</li>
        </ul>
    </li>
</ul>
