<div class="education row">
    <div class="education__dut-status col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <h2><a target="_blank" href="http://www.stevens.edu">Stevens Institute of Technology</a>, Hoboken, NJ</h2>
        <p> Master of Science in Computer Science,</p>
        <p> Graduated May 2016</p>
    </div>
    <div class="education-image col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1">
        <img class="img-rounded" src="images/sit.jpg">
    </div>
    <div class="education__sit-status col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <h2><a targer="_blank" href="http://www.dlut.edu.cn/">Dalian University of Technology</a>, Dalian, China</p></h2>
        <p>Bachelor of Science in Software Engineering,</p>
        <p> Graduated July 2014</p>
    </div>
    <div class="education-image col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1">
        <img class="img-rounded" src="images/dlut.png">
    </div>
</div>
