<div class="volunteer row">
    <div class="col-md-3">
        <div class="col-md-8 col-md-offset-2">
            <h2>Volunteer</h2>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            <div class="col-md-11">
                <h3>Volunteer Teacher</h3>
                <p>(Sep. 2014 – Jan. 2015) Jubilee Center, Hoboken</p>
            </div>
            <div class="col-md-11">
                <ul>
                    <li>Organized activities and outings for children;</li>
                    <li>Helped with homework.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-11">
                <h3>Orientation Leader </h3>
                <p>Stevens Institute of Technology, Hoboken</p>
            </div>
            <div class="col-md-11">
                <ul>
                    <li>Provide support and information for new first-year and transfer graduate and PhD students </li>
                    <li>Organized activities for new students</li>
                </ul>
            </div>
        </div>
    </div>
</div>
