body {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.5em;
    .resume__header {
        padding-top: 40px;
        border-bottom: 1px lightgrey solid;
        padding-bottom: 40px;
        >a {
            margin-left: 8.33% !important;
            h1 {
                font-size: 2.5em;
                color: #1FCFCC;
                border-radius: 3px;
                display: inline;
            }
        }
        ul {
            margin-right: 8.33%;
            padding-top: 20px;
            li {
                a {
                    color: grey;
                    border-radius: 3px;
                    &:hover {
                        color: #FC9F9E !important;
                        background-color: #FFFFFF;
                    }
                }
            }
        }
    }
    .footer {
        position:relative;
        clear: both;
        height: 50px;
        width: 100%;

        p.copyright {
            padding-left: 2%;
            line-height: 40px;
            font-size: 0.7em;
            position: absolute;
            width: 100%;
            text-align: left;
            bottom: 0;
        }
        .social {
            font-size: 19px;
            float: right;
            color: #fff;
            padding-right: 30px;
            /* width: 100%; */
            height: 10px;
        }
    }
}
